<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.RECORD_AUDIO" />
 <application android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher" android:theme="@style/Theme.IRNDAApp" android:label="IR NDA APP by PRATIK" android:allowBackup="true" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 <provider android:name="androidx.core.content.FileProvider" android:authorities="com.pratik.irndaapp.fileprovider" android:exported="false" android:grantUriPermissions="true"><meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths" /></provider>        <activity android:name=".SntDashboardActivity" android:exported="false" />
</application>
</manifest>
